<link rel="stylesheet" href="/styles/...">

<h1>Activity App</h1>
<h2>Login</h2>
<h3><%=foo%></h3>
<form method="POST" action='/login'>
    <p>Username</p>
    <input type="text" class="form" placeholder="Enter Your Username"><br>
    <p>Password</p>
    <input type="password" class="form"><br>
    <button>Login</button>
</form>
<a href="signup">New User? Sign up</a>
