<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="search">Activity App</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="search">Home</a></li>
      <li class="active"><a href="profile">Profile</a></li>
      <!-- <li><a href="#">Page 2</a></li> -->
      <!-- <li><a href="#">Page 3</a></li> -->
    </ul>
    <div class="nav pull-right" style="margin-top: 15px; margin-right: 50px;">
      <a href="login">Logout</a>
    </div>
  </div>
</nav>

<h1 style="margin-left:15px;">Your Profile</h1><br>
<div class="col-xs-4" style="background-color:#EEEEEE; border-radius:10px; margin-left:10px;">
  <h3>User Info</h3>
  <form method="POST" action='/updateProfile'>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" name="username" class="form-control" id="username" value="<%=username%>" disabled>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="text" name="password" class="form-control" id="password" value="<%=password%>">
    </div>
    <div class="form-group">
      <label for="birthday">Date of Birth</label>
      <input type="date" name="birthday" class="form-control" id="birthday" value="<%=birthday%>">
    </div>
    <div class="form-group">
      <label for="faculty">Faculty</label>
      <select class="form-control" id="faculty">
        <option value="engineering">Engineering</option>
        <option value="science">Science</option>
        <option value="arts">Arts</option>
        <option value="kines">Kinesiology</option>
        <option value="business">Business</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
  </form>
</div>
<div class="col-xs-4" style="background-color:#EEEEEE; border-radius:10px; margin-left:15px">
  <h3>Interests</h3>
  <form method="POST" action='/updateProfile'>
    <ul>
      <% for(var i = 0; i < topics.length; i++){ %>
        <li><pre><%=topics[i]%> <a href="#">Remove</a></pre></li>
      <% } %>
    </ul>
  </form>
</div>