<link rel="stylesheet" href="/styles/...">

<h1>Activity App</h1>
<h2>Signup</h2>
<form method="POST" action='/signup'>
    <p>Username</p>
    <input type="text" class="form" placeholder="Choose a Username"><br>
    <p>Password</p>
    <input type="password" class="form"><br>
    <p>Date of Birth</p>
    <input type="date" class="form" name="birthday"><br>
    <p>Faculty</p>
    <select>
        <option value="engineering">Engineering</option>
        <option value="science">Science</option>
        <option value="arts">Arts</option>
        <option value="kines">Kinesiology</option>
        <option value="business">Business</option>
    </select>
</form>
